.menu-selection{
	&__item{
		position: relative;
		background-color: $athens-grayer;
		font-family: 'Segoe UI', sans-serif;
		line-height: 36px;
		padding: 0 10px;
		cursor: pointer;
		text-transform: uppercase;
		user-select: none;
		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			left: 0;
			bottom: -5px;
			background-color: $curious-blue;
			transform: scale(0);
			transition: all linear .2s;
		}
		&:hover{
			&:after{
				transform: scale(1);
			}
		}
	}
}
.header{
	&-top{
		padding-top: 9px;
		background-color: $athens-gray;
		background-image: url("../img/top-bg.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 100% 9px;
		&__inner{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	&-middle{
		border-bottom: 1px solid $alto-lighter;
		&__inner{
			height: 200px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	&-bottom{
		
	}
}
.greeting{
	padding-top: 9px;
	color: $boulder;
	font-size: 12px;
	margin-right: 100px;
	&__link{
		color: $fountain-blue;
		cursor: pointer;
	}
}
.user-settings{
	display: flex;
	&>*{
		&:not(:last-child){margin-right: 24px;}
	}

}
.languages{
	&__mobile{
		display: none;
		font-family: 'Segoe UI Bold', sans-serif;
		color: $white;
		background-color: rgba($fountain-blue,.8);
		line-height: 36px;
		padding: 0 10px;
		cursor: pointer;
		text-transform: uppercase;
		user-select: none;
	}
	&__list{
		display: flex;
		color: $tundora;
		font-size: 11px;
		&>*{&:not(:last-child){margin-right: 1px;}}
		&--active{
			display: flex;
		}
	}
	&__item{
		&--active{
			font-family: 'Segoe UI Bold', sans-serif;
			color: $white;
			background-color: rgba($fountain-blue,.8);
		}
	}
}
.currency{
	&__mobile{
		display: none;
		font-family: 'Segoe UI Bold', sans-serif;
		color: $white;
		background-color: rgba($fountain-blue,.8);
		line-height: 36px;
		padding: 0 10px;
		cursor: pointer;
		text-transform: uppercase;
		user-select: none;
	}
	&__list{
		display: flex;
		color: $tundora;
		font-size: 13px;
		&>*{&:not(:last-child){margin-right: 1px;}}
		&--active{
			display: flex;
		}
	}
	&__item{
		&--active{
			font-family: 'Segoe UI Bold', sans-serif;
			color: $white;
			background-color: rgba($fountain-blue,.8);
		}
	}
}
.phone{
	padding-top: 9px;
	font-family: 'Segoe UI', sans-serif;
	font-size: 11px;
	&__link{
	}
	&__icon{
		width: 16px;
		height: 13px;
		margin-right: 8px;
	}
}
.logo{
	margin-right: 40px;
	font-family: 'Bitter Italic', serif;
	font-size: 11px;
	color: $silver-chalice;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__img{
		width: 132px;
		height: 56px;
		user-select: none;
	}
	&__text{
		margin-top: -5px;
		padding-left: 3px;
		white-space: nowrap;
	}
}
.search{
	width: 227px;
	height: 35px;
	position: relative;
	&__inner{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid $silver;
		border-radius: 2px;
		transition: all linear .2s;
		&:hover{
			border-color: transparent;
		}
		input{
			padding-right: 30px;
			border-radius: 2px;
			transition: box-shadow linear .2s;
			&:hover{
				box-shadow: 0 0 0 2px $astral;
			}
			&:focus{
				box-shadow: 0 0 0 2px $astral;
			}
		}
	}
	.input-field{
		padding: 6px 0px 6px 9px;
		font-size: 16px;
		font-family: 'Segoe UI', sans-serif;
		width: 100%;
		color: $mine-shaft;
		display: flex;
		align-items: center;
		border: none;
		@include placeholder{
			color: $boulder;
			font-size: 12px;
		}
	}
	&__icon{
		transform: translateY(-50%);
    right: 0;
    top: 50%;
    position: absolute;
		margin: 0 8px;
		width: 14px;
		height: 14px;
		cursor: pointer;
	}
	&--active{
		.search__inner{
			left: 50%;
			width: 200px;
			transform: translateX(-50%) scale(1.2);
			z-index: 999;
			background-color: $white;
			border: 2px solid #CBCBCB;
		}
	}
}

.user-menu{
	display: flex;
	&__list{
		display: flex;
		align-items: center;
	}
	&__item{
		position: relative;
		font-size: 12px;
		padding: 0 15px;
		line-height: 14px;
		border-right: 1px solid $alto;
		font-family: 'Segoe UI', sans-serif;
		color: $boulder;
		cursor: pointer;
		transition: color linear .1s;
		white-space: nowrap;
		user-select: none;
		&:last-child{
			border: none;
		}
		&:hover{
			color: $black;
		}
	}
}
.cart{
	display: flex;
	align-items: center;
	padding: 10px 11px;
	background-color: $athens-grayer-lighter;
	font-family: 'Segoe UI', sans-serif;
	font-size: 11px;
	color: $tundora;
	cursor: pointer;
	&__img{
		height: 13px;
		width: 16px;
		margin-right: 8px;
	}	
	&__title{
		margin-right: 3px;
	}
}
.main-menu{
	&__list{
		width: 100%;
		display: flex;
		background-color: $athens-gray;
	}
	&__item{
	}
	&__link{
		display: block;
		font-size: 14px;
		padding: 18px 22px;
		color: $tundora;
		text-transform: uppercase;
		transition: all linear .1s;
		white-space: nowrap;
		&:hover{
			color: $white;
			background-color: $half-baked;
		}
	}
}