extends ../layout/main

block title
	| Breeze

block content
	header.header
		.header-top
			.container
				.header-top__inner
					.phone
						img(src="static/img/tel.png" alt="icon").phone__icon
						a(href="tel:7771001234").phone__link 
							span Call Us 
							| +777 (100) 1234
					.greeting
						| Welcome visitor you can 
						br.mobile-br
						span.greeting__link.greeting__link--login login
						|  or 
						span.greeting__link.greeting__link--signup create an account.
					.user-settings
						.languages
							.languages__mobile
							ul.languages__list
								li.languages__item.menu-selection__item.languages__item--active EN
								li.languages__item.menu-selection__item FR
								li.languages__item.menu-selection__item GM
						.currency
							.currency__mobile
							ul.currency__list
								li.currency__item.menu-selection__item.currency__item--active $
								li.currency__item.menu-selection__item €
								li.currency__item.menu-selection__item £
		.header-middle
			.container
				.header-middle__inner
					a(href="#").logo
						img(src="static/img/logo.jpg" alt="breeze").logo__img
						span.logo__text Online Store Theme
					.search
						.search__inner
							input(placeholder="Search entire store here...").input-field
							img(src="static/img/search.png" alt="").search__icon
					.user-menu
						//- без ссылок т.к. это будут попапы
						.user-menu__list
							.user-menu__item My Account
							.user-menu__item My Wishlist
							.user-menu__item
								.user-menu__link.user-menu__link--login Log in
								include ../modules/login
							.user-menu__item
								.user-menu__link.user-menu__link--signup Sign up
								include ../modules/signup
						.cart
							img(src="static/img/cart.png" alt="").cart__img
							span.cart__title Cart 
							span.cart__currency.page-currency $
							span.cart__amount 0.00
		.header-bottom.main-menu
			.container
				ul.main-menu__list
					li.main-menu__item
						a.main-menu__link(href="") HOME
					li.main-menu__item
						a.main-menu__link(href="") SOLIDS
					li.main-menu__item
						a.main-menu__link(href="") LIQUIDS
					li.main-menu__item
						a.main-menu__link(href="") SPRAY
					li.main-menu__item
						a.main-menu__link(href="") ELECTRIC
					li.main-menu__item
						a.main-menu__link(href="") FOR CARS
	main.main
		.container
			.slider
				.slider__inner
					.slider__controls.slider__controls--prev
						.slider-controls-inner
					.slider__controls.slider__controls--next
						.slider-controls-inner
					.slider__dots
					.slider-js
						.slider__item
							.slider__item-inner
								img(src="static/img/slider_product.png" alt="").slider__product
								.slider__descr
									span.slider__title Breeze Noticeables
									span.slider__text The new series of natural air fresheners.
									span.slider__text Febreze Noticeables Meadows & Rain
									span.slider__text Air Freshener Refill.
						.slider__item
							.slider__item-inner
								img(src="static/img/slider_product.png" alt="").slider__product
								.slider__descr
									span.slider__title Breeze Noticeables
									span.slider__text The new series of natural air fresheners.
									span.slider__text Febreze Noticeables Meadows & Rain
									span.slider__text Air Freshener Refill.
						.slider__item
							.slider__item-inner
								img(src="static/img/slider_product.png" alt="").slider__product
								.slider__descr
									span.slider__title Breeze Noticeables
									span.slider__text The new series of natural air fresheners.
									span.slider__text Febreze Noticeables Meadows & Rain
									span.slider__text Air Freshener Refill.
			.product-advantages
				.product-advantages__item
					.product-advantages__img-wrapper
						img(src="static/img/product-advantages__sale.png" alt="").product-advantages__img
					.product-advantages__content
						.product-advantages__title Best price 
						.product-advantages__text this week
				.product-advantages__item
					.product-advantages__img-wrapper
						img(src="static/img/product-advantages__new-small.png" alt="").product-advantages__img
					.product-advantages__content
						.product-advantages__title New smells
						.product-advantages__text in the next series
				.product-advantages__item
					.product-advantages__img-wrapper
						img(src="static/img/product-advantages__only-natural.png" alt="").product-advantages__img
					.product-advantages__content
						.product-advantages__title Only natural
						.product-advantages__text air fresheners
			.product-line
				.product-line__header
					.product-line__title Best Sellers
					.product-line__controls
						.product-line__control.product-line__control--prev
							.product-line__control-inner
						.product-line__control.product-line__control--next
							.product-line__control-inner
				.product-line__body
					.product-line-js
						include ../modules/card/card-1
						include ../modules/card/card-2
						include ../modules/card/card-3
						include ../modules/card/card-4
						include ../modules/card/card-5
						include ../modules/card/card-6
						include ../modules/card/card-7
						include ../modules/card/card-8
			.product-line
				.product-line__header
					.product-line__title Featured Products
					.product-line__controls
						.product-line__control.product-line__control--prev
							.product-line__control-inner
						.product-line__control.product-line__control--next
							.product-line__control-inner
				.product-line__body
					.product-line-js
						include ../modules/card/card-5
						include ../modules/card/card-6
						include ../modules/card/card-7
						include ../modules/card/card-8
						include ../modules/card/card-1
						include ../modules/card/card-2
						include ../modules/card/card-3
						include ../modules/card/card-4
			.info-block
				.info-block__column.info-block-column
					.info-block-column__title About Us
					.info-block-column__body
						p.text Lorem ipsum, libero et luctus molestie, turpis mi sagittis nisl, a scelerisque leo nulla et lectus pendisse dictum posuere elit, in congue nisl varius quis lentesque a tellus eget quam varius aliquet. 
						p.text Pellentesque tristique, libero et luctus molestie, turpis mi sagittis nisl, a scelerisque leo nulla et lectus pendisse dictum posuere elit, in congue nisl varius quis lentesque a tellus eget quam varius aliquet.
						p.text Vel lobortis gravida. Cursus in dapibus ultrices velit fusce. Felis lacus erat.
				.info-block__column.info-block-column
					.info-block-column__title News
					.info-block-column__body.news
						.news__item
							.news__date 3 january 2012
							a(href="").text.text--blue Fermentum parturient lacus tristique habitant nullam morbi et odio nibh mus dictum tellus erat.
						.news__item
							.news__date 2 january 2012
							a(href="").text.text--blue Cras ac hendrerit dui. Duis lacus ligula, luctus ac tristique eget, posuere id erat.
						.news__item
							.news__date 1 january 2012
							a(href="").text.text--blue Lorem ipsum, libero et luctus molestie, turpis mi sagittis nisl, a scelerisque leo nulla et lectus pendisse dictum posuere 
				.info-block__column.info-block-column
					.info-block-column__title Newsletters
					.info-block-column__body
						p.text Cursus in dapibus ultrices velit fusce. Felis lacus erat. Fermentum parturient lacus tristique habitant nullam morbi et odio nibh mus dictum tellus erat.
						.info-block-column__line.info-block-column__line--input
							input(placeholder="Enter your email address...").input-field
							.input-field-confirm
						.info-block-column__line
							.info-block-column__icon-wrapper
								img(src="static/img/email-open.png").info-block-column__icon
							p.text.text-curs Vel lobortis gravida. Cursus in dapibus ultrices velit fusce. Felis lacus erat. 
	footer.footer
		.footer__body
			.container
				.footer__body-inner
					.footer__column.footer-column
						.footer-column__header
							.footer-column__title Contact Us
						.footer-column__body
							a(href="").footer-column__item.footer-column__item--loc.footer-column__item--big 49 Archdale, 2B Charleston
							.footer-column__item.footer-column__item--tel.footer-column__item--big +777 (100) 1234
							.footer-column__item.footer-column__item--mail.footer-column__item--big mail@example.com
					.footer__column.footer-column
						.footer-column__header
							.footer-column__title Information
						.footer-column__body
							a(href="").footer-column__item About Us
							a(href="").footer-column__item Privacy Policy
							a(href="").footer-column__item Terms & Conditions
							a(href="").footer-column__item Secure payment
					.footer__column.footer-column
						.footer-column__header
							.footer-column__title Costumer Service
						.footer-column__body
							a(href="").footer-column__item Contact Us
							a(href="").footer-column__item Return
							a(href="").footer-column__item FAQ
							a(href="").footer-column__item Site Map
					.footer__column.footer-column
						.footer-column__header
							.footer-column__title My Account
						.footer-column__body
							a(href="").footer-column__item My Account
							a(href="").footer-column__item Order History
							a(href="").footer-column__item Wish List
							a(href="").footer-column__item Newsletter
		.footer__footer
			.container
				.footer__footer-inner
					.footer__copyright © Breeze Store Theme, 2012
					.footer__social.footer-social
						a(href="").footer__social__item
							img(src="static/img/icon-fb.png").footer__social__icon.footer__social__icon--fb
						a(href="").footer__social__item
							img(src="static/img/icon-tw.png").footer__social__icon.footer__social__icon--tw
						a(href="").footer__social__item
							img(src="static/img/icon-goo.png").footer__social__icon.footer__social__icon--goo
								
