extends ../layout/main

block title
	| Главная страница

block content
	header.header
		.header-top
			.container
				.header-top__inner
					.phone
						img(src="static/img/tel.png" alt="icon").phone__icon
						a(href="tel:7771001234").phone__link 
							span Call Us 
							| +777 (100) 1234
					.greeting
						| Welcome visitor you can 
						br.mobile-br
						a(href="").greeting__link.greeting__link--login login
						|  or 
						a(href="").greeting__link.greeting__link--sign-up create an account.
					.user-settings
						.languages
							.languages__item.languages__item--active EN
							.languages__item FR
							.languages__item GM
						.currency
							.currency__item.currency__item--active $
							.currency__item €
							.currency__item £
		.header-middle
			.container
				.header-middle__inner
					a(href="#").logo
						img(src="static/img/logo.jpg" alt="breeze").logo__img
						span.logo__text Online Store Theme
					.search
						input(placeholder="Search entire store here...").input-field
						img(src="static/img/search.png" alt="").search__icon
					.user-menu
						//- без ссылок т.к. это будут попапы
						ul.user-menu__list
							il.user-menu__item My Account
							il.user-menu__item My Wishlist
							il.user-menu__item Log in
							il.user-menu__item Sign up
						.cart
							img(src="static/img/cart.png").cart__img
							span.cart__title Cart 
							span.cart__currency $
							span.cart__amount 0.00
		.header-bottom.main-menu
			.container
				ul.main-menu__list
					li.main-menu__item
						a.main-menu__link(href="") HOME
					li.main-menu__item
						a.main-menu__link(href="") SOLIDS
					li.main-menu__item
						a.main-menu__link(href="") LIQUIDS
					li.main-menu__item
						a.main-menu__link(href="") SPRAY
					li.main-menu__item
						a.main-menu__link(href="") ELECTRIC
					li.main-menu__item
						a.main-menu__link(href="") FOR CARS
	main.main
		.container
			.slider
				.slider__inner
					.slider__controls.slider__controls--prev
						.slider-controls-inner
					.slider__controls.slider__controls--next
						.slider-controls-inner
					.slider__dots
					.slider-js
						.slider__item
							.slider__item-inner
								img(src="static/img/slider_product.png").slider__product
								.slider__descr
									span.slider__title Breeze Noticeables
									span.slider__text The new series of natural air fresheners.
									span.slider__text Febreze Noticeables Meadows & Rain
									span.slider__text Air Freshener Refill.
						.slider__item
							.slider__item-inner
								img(src="static/img/slider_product.png").slider__product
								.slider__descr
									span.slider__title Breeze Noticeables
									span.slider__text The new series of natural air fresheners.
									span.slider__text Febreze Noticeables Meadows & Rain
									span.slider__text Air Freshener Refill.
						.slider__item
							.slider__item-inner
								img(src="static/img/slider_product.png").slider__product
								.slider__descr
									span.slider__title Breeze Noticeables
									span.slider__text The new series of natural air fresheners.
									span.slider__text Febreze Noticeables Meadows & Rain
									span.slider__text Air Freshener Refill.
			.product-advantages
				.product-advantages__item
					img(src="static/img/product-advantages__sale.png").product-advantages__img
					.product-advantages__title Best price 
					.product-advantages__text this week
				.product-advantages__item
					img(src="static/img/product-advantages__new-small.png").product-advantages__img
					.product-advantages__title New smells
					.product-advantages__text in the next series
				.product-advantages__item
					img(src="static/img/product-advantages__only-natural.png").product-advantages__img
					.product-advantages__title Only natural
					.product-advantages__text air fresheners


