@import url(../libs/slick-carousel/slick/slick.css);
@font-face {
  font-family: 'Bitter';
  src: local("Bitter Regular"), local("Bitter Regular"), url("../fonts/bitter.woff2") format("woff2"), url("../fonts/bitter.woff") format("woff"), url("../fonts/bitter.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Bitter Italic';
  src: local("Bitter Italic"), local("Bitter Italic"), url("../fonts/bitter-italic.woff2") format("woff2"), url("../fonts/bitter-italic.woff") format("woff"), url("../fonts/bitter-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI';
  src: local("Segoe UI Regular"), local("Segoe UI Regular"), url("../fonts/segoe-ui.woff") format("woff"), url("../fonts/segoe-ui.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI Bold';
  src: local("Segoe UI Bold"), local("Segoe UI Bold"), url("../fonts/segoe-ui-bold.woff") format("woff"), url("../fonts/segoe-ui-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI Light';
  src: local("Segoe UI Light"), local("Segoe UI Light"), url("../fonts/segoe-ui-light.woff") format("woff"), url("../fonts/segoe-ui-light.ttf") format("truetype"); }

@font-face {
  font-family: 'Segoe UI Italic';
  src: local("Segoe UI Italic"), local("Segoe UI Italic"), url("../fonts/segoe-ui-italic.woff") format("woff"), url("../fonts/segoe-ui-italic.ttf") format("truetype"); }

.menu-selection__item {
  position: relative;
  background-color: #E5E8EC;
  font-family: 'Segoe UI', sans-serif;
  line-height: 36px;
  padding: 0 10px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .menu-selection__item:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #1F85DE;
    transform: scale(0);
    transition: all linear .2s; }
  .menu-selection__item:hover:after {
    transform: scale(1); }

.header-top {
  padding-top: 9px;
  background-color: #F4F6F8;
  background-image: url("../img/top-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 9px; }
  .header-top__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }

.header-middle {
  border-bottom: 1px solid #e0e0e0; }
  .header-middle__inner {
    height: 200px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }

.greeting {
  padding-top: 9px;
  color: #777777;
  font-size: 12px;
  margin-right: 100px; }
  .greeting__link {
    color: #59b7c2;
    cursor: pointer; }

.user-settings {
  display: -ms-flexbox;
  display: flex; }
  .user-settings > *:not(:last-child) {
    margin-right: 24px; }

.languages__mobile {
  display: none;
  font-family: 'Segoe UI Bold', sans-serif;
  color: #ffffff;
  background-color: rgba(89, 183, 194, 0.8);
  line-height: 36px;
  padding: 0 10px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.languages__list {
  display: -ms-flexbox;
  display: flex;
  color: #444444;
  font-size: 11px; }
  .languages__list > *:not(:last-child) {
    margin-right: 1px; }
  .languages__list--active {
    display: -ms-flexbox;
    display: flex; }

.languages__item--active {
  font-family: 'Segoe UI Bold', sans-serif;
  color: #ffffff;
  background-color: rgba(89, 183, 194, 0.8); }

.currency__mobile {
  display: none;
  font-family: 'Segoe UI Bold', sans-serif;
  color: #ffffff;
  background-color: rgba(89, 183, 194, 0.8);
  line-height: 36px;
  padding: 0 10px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.currency__list {
  display: -ms-flexbox;
  display: flex;
  color: #444444;
  font-size: 13px; }
  .currency__list > *:not(:last-child) {
    margin-right: 1px; }
  .currency__list--active {
    display: -ms-flexbox;
    display: flex; }

.currency__item--active {
  font-family: 'Segoe UI Bold', sans-serif;
  color: #ffffff;
  background-color: rgba(89, 183, 194, 0.8); }

.phone {
  padding-top: 9px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 11px; }
  .phone__icon {
    width: 16px;
    height: 13px;
    margin-right: 8px; }

.logo {
  margin-right: 40px;
  font-family: 'Bitter Italic', serif;
  font-size: 11px;
  color: #aaaaaa;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .logo__img {
    width: 132px;
    height: 56px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .logo__text {
    margin-top: -5px;
    padding-left: 3px;
    white-space: nowrap; }

.search {
  width: 227px;
  height: 35px;
  position: relative; }
  .search__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    border: 1px solid #CBCBCB;
    border-radius: 2px;
    transition: all linear .2s; }
    .search__inner:hover {
      border-color: transparent; }
    .search__inner input {
      padding-right: 30px;
      border-radius: 2px;
      transition: box-shadow linear .2s; }
      .search__inner input:hover {
        box-shadow: 0 0 0 2px #2e8f9a; }
      .search__inner input:focus {
        box-shadow: 0 0 0 2px #2e8f9a; }
  .search .input-field {
    padding: 6px 0px 6px 9px;
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    color: #222222;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    border: none; }
    .search .input-field::-webkit-input-placeholder {
      color: #777777;
      font-size: 12px; }
    .search .input-field:-moz-placeholder {
      color: #777777;
      font-size: 12px; }
    .search .input-field::-moz-placeholder {
      color: #777777;
      font-size: 12px; }
    .search .input-field:-ms-input-placeholder {
      color: #777777;
      font-size: 12px; }
  .search__icon {
    transform: translateY(-50%);
    right: 0;
    top: 50%;
    position: absolute;
    margin: 0 8px;
    width: 14px;
    height: 14px;
    cursor: pointer; }
  .search--active .search__inner {
    left: 50%;
    width: 200px;
    transform: translateX(-50%) scale(1.2);
    z-index: 999;
    background-color: #ffffff;
    border: 2px solid #CBCBCB; }

.user-menu {
  display: -ms-flexbox;
  display: flex; }
  .user-menu__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .user-menu__item {
    position: relative;
    font-size: 12px;
    padding: 0 15px;
    line-height: 14px;
    border-right: 1px solid #DFDFDF;
    font-family: 'Segoe UI', sans-serif;
    color: #777777;
    cursor: pointer;
    transition: color linear .1s;
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .user-menu__item:last-child {
      border: none; }
    .user-menu__item:hover {
      color: #000000; }

.cart {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px 11px;
  background-color: #F1F3F5;
  font-family: 'Segoe UI', sans-serif;
  font-size: 11px;
  color: #444444;
  cursor: pointer; }
  .cart__img {
    height: 13px;
    width: 16px;
    margin-right: 8px; }
  .cart__title {
    margin-right: 3px; }

.main-menu__list {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  background-color: #F4F6F8; }

.main-menu__link {
  display: block;
  font-size: 14px;
  padding: 18px 22px;
  color: #444444;
  text-transform: uppercase;
  transition: all linear .1s;
  white-space: nowrap; }
  .main-menu__link:hover {
    color: #ffffff;
    background-color: #78c4cd; }

.footer__body {
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 55px 0;
  border-top: solid 1px #e0e0e0;
  border-bottom: solid 1px #e0e0e0; }
  .footer__body-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }

.footer__footer {
  background-color: #F9FBFC; }
  .footer__footer-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    height: 70px; }

.footer__copyright {
  color: #e0e0e0;
  font-size: 11px; }

.footer__social > *:not(:last-child) {
  margin-right: 4px; }

.footer-column {
  -ms-flex-preferred-size: 23.37%;
      flex-basis: 23.37%; }
  .footer-column__header {
    font-size: 18px;
    color: #444444;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 24px; }
  .footer-column__item {
    display: block;
    font-size: 12px;
    color: #777777;
    margin-bottom: 12px; }
    .footer-column__item:last-child {
      margin-bottom: 0; }
    .footer-column__item--big {
      margin-bottom: 15px;
      padding-left: 22px;
      background-repeat: no-repeat;
      background-position: left center; }
      .footer-column__item--big:last-child {
        margin-bottom: 0; }
    .footer-column__item--loc {
      background-image: url("../img/icon-loc.png");
      background-size: 8px 13px; }
    .footer-column__item--tel {
      background-image: url("../img/icon-tel.png");
      background-size: 16px 12px; }
    .footer-column__item--mail {
      background-image: url("../img/icon-mail.png");
      background-size: 15px 10px; }
  .footer-column__title {
    margin-bottom: 10px; }

.slider {
  margin-top: 20px; }
  .slider__inner {
    position: relative; }
  .slider__item-inner {
    display: -ms-flexbox;
    display: flex;
    height: 480px;
    background-image: url("../img/slider_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .slider__product {
    margin-left: 43px;
    width: 46%; }
  .slider__controls {
    position: absolute;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.85);
    height: 42px;
    width: 42px;
    transform: translateY(-50%);
    z-index: 1;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer; }
    .slider__controls--prev {
      left: 0; }
      .slider__controls--prev .slider-controls-inner {
        transform: rotateZ(135deg); }
    .slider__controls--next {
      right: 0; }
      .slider__controls--next .slider-controls-inner {
        transform: rotateZ(-45deg); }
  .slider__dots ul {
    position: absolute;
    display: -ms-flexbox !important;
    display: flex !important;
    bottom: 20px;
    right: 20px;
    z-index: 1; }
  .slider__dot {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 5px solid rgba(223, 223, 223, 0.85);
    background-color: rgba(68, 68, 68, 0.85);
    cursor: pointer;
    margin-right: 6px; }
  .slider__descr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
    color: #222222;
    margin-top: 70px; }
  .slider__title {
    padding: 0 10px;
    font-size: 36px;
    line-height: 1.36;
    background-color: #e7f5f7;
    margin-bottom: 18px;
    letter-spacing: .5px; }
  .slider__text {
    padding: 0 14px;
    font-size: 16px;
    line-height: 1.7;
    background-color: #e7f5f7;
    margin-bottom: 2px; }
    .slider__text:last-child {
      margin-bottom: 0; }
  .slider-controls-inner {
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #777777;
    border-right: 1px solid #777777; }

.slick-active a {
  border: 5px solid rgba(68, 68, 68, 0.85);
  background-color: rgba(223, 223, 223, 0.85); }

.product-advantages {
  margin-top: 24px;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }
  .product-advantages__content {
    -ms-flex-preferred-size: 65.2%;
        flex-basis: 65.2%; }
  .product-advantages__item {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    border: 1px solid #e0e0e0;
    margin-right: 24px;
    border-radius: 2px;
    overflow: hidden; }
    .product-advantages__item:last-child {
      margin-right: 0; }
  .product-advantages__img {
    width: 70.3%; }
    .product-advantages__img-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-preferred-size: 34.7%;
          flex-basis: 34.7%; }
  .product-advantages__title {
    font-size: 24px;
    color: #444444; }
  .product-advantages__text {
    font-family: 'Segoe UI Light', sans-serif;
    font-size: 20px;
    color: #777777; }

.form {
  position: absolute;
  top: 0px;
  right: 50%;
  width: 270px;
  padding: 20px;
  border-radius: 10px;
  background-color: #3A7081;
  transform-origin: right top;
  transform: scale(0) translateX(50%) translateY(-500px);
  transition: transform ease-in-out .3s;
  box-shadow: inset 3px 3px 5px -2.4px rgba(255, 255, 255, 0.6), inset -3px -3px 5px -2.4px rgba(255, 255, 255, 0.6), 4px 4px 7px -2px black;
  z-index: 999;
  cursor: default; }
  .form--active {
    transform: scale(1) translateX(50%) translateY(0px); }
  .form-btn {
    position: absolute;
    right: 80px;
    top: 50%;
    width: 41px;
    height: 41px;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    transform: translateX(50%) translateY(-50%);
    box-shadow: inset 3px 3px 3px -2.4px rgba(255, 255, 255, 0.6), inset -3px -3px 3px -2.4px rgba(255, 255, 255, 0.6), 4px 4px 7px -2px black; }
    .form-btn:hover {
      box-shadow: 4px 4px 7px -2px black; }
    .form-btn:active {
      box-shadow: inset 3px 3px 3px -2.4px rgba(0, 0, 0, 0.6), inset -3px -3px 3px -2.4px rgba(0, 0, 0, 0.6); }
    .form-btn__inner {
      width: 100%;
      height: 100%;
      background-image: url("../img/svg/log-in.svg");
      background-repeat: no-repeat;
      background-size: cover; }
  .form > * {
    margin: 10px 0px; }
    .form > *:first-child {
      margin-top: 0; }
    .form > *:last-child {
      margin-bottom: 0; }
  .form__close-btn-wrapper {
    position: absolute;
    transform: translateX(-50%);
    top: 5px;
    right: 5px; }
  .form__header {
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.4);
    position: relative;
    margin-bottom: 16px;
    color: #000000;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .form__body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
    .form__body > * {
      margin: 5px 0px; }
      .form__body > *:first-child {
        margin-top: 0; }
      .form__body > *:last-child {
        margin-bottom: 0; }
  .form__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px; }
    .form__footer > *:not(:last-child) {
      margin-right: 10px; }
  .form__input {
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #000;
    background-color: #ddd;
    font-size: 14px;
    line-height: 18px; }
    .form__input:focus {
      background-color: #fff; }

.close-btn {
  cursor: pointer;
  transform: translate(100%, -50%); }
  .close-btn__inner {
    position: relative;
    color: #000;
    font-size: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #710C1C;
    transition: box-shadow linear .2s;
    box-shadow: inset 4px 6px 9px -3px rgba(255, 255, 255, 0.4), 2px 2px 5px -2px black; }
    .close-btn__inner:hover {
      box-shadow: 2px 2px 5px -2px black; }
    .close-btn__inner:active {
      box-shadow: inset 5px 5px 5px -5px rgba(0, 0, 0, 0.4); }
    .close-btn__inner span {
      position: absolute;
      border-radius: 1px;
      top: 50%;
      transform: translateY(-50%);
      left: 25%;
      display: block;
      width: calc(100% - 10px);
      height: 2px;
      background-color: #222; }
      .close-btn__inner span:first-child {
        transform: translateY(-50%) rotateZ(-45deg); }
      .close-btn__inner span:last-child {
        transform: translateY(-50%) rotateZ(45deg); }

.btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  background-color: #129BF6;
  color: #DE1F25;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid #266B0F;
  transition: all linear .15s;
  box-shadow: inset 8px 8px 5px -5px rgba(255, 255, 255, 0.4), 4px 4px 7px -2px black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .btn:hover {
    color: #e64a4f;
    background-color: #fff;
    border: 3px solid #266B0F; }
  .btn:active {
    color: #841316;
    background-color: #fff;
    box-shadow: inset 6px 6px 5px -6px rgba(0, 0, 0, 0.6);
    border: 3px solid #266B0F; }
  .btn--small {
    padding: 8px 15px;
    font-size: 14px;
    box-shadow: 4px 4px 4px -2px black;
    border-width: 2px; }
    .btn--small:hover {
      border-width: 2px; }
    .btn--small:active {
      border-width: 2px; }
  .btn--bd-gold {
    border-color: #DF7119; }
    .btn--bd-gold:hover {
      border-color: #DF7119; }
  .btn--bgct {
    background-color: transparent;
    text-decoration: underline; }
  .btn--cblack {
    color: #000; }
    .btn--cblack:hover {
      color: #000; }
    .btn--cblack:active {
      color: #000; }
  .btn--fwn {
    font-weight: normal; }

.product-line {
  margin-bottom: 57px; }
  .product-line__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 40px;
    padding-bottom: 8px; }
  .product-line__title {
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 24px;
    color: #444444;
    line-height: 1; }
  .product-line__controls {
    display: -ms-flexbox;
    display: flex; }
    .product-line__controls > *:not(:last-child) {
      margin-right: 8px; }
  .product-line__control {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 42px;
    height: 42px;
    background-color: #F4F6F8;
    cursor: pointer; }
    .product-line__control-inner {
      width: 8px;
      height: 8px;
      border-bottom: 1px solid #777777;
      border-right: 1px solid #777777; }
    .product-line__control--next .product-line__control-inner {
      transform: rotateZ(-45deg); }
    .product-line__control--prev .product-line__control-inner {
      transform: rotateZ(135deg); }

.slick-list {
  margin: 0 -9px; }

.slick-slide {
  padding: 0 9px; }

.card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow: hidden;
  padding: 3px;
  width: 234px; }
  .card__body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    position: relative;
    height: 274px;
    -ms-flex-positive: 1;
        flex-grow: 1;
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 2px 2px 0 0; }
  .card__footer {
    height: 44px;
    border: 1px solid #e0e0e0;
    border-top: none;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0px 0 2px 2px; }
  .card-body__image {
    max-width: 100%;
    max-height: 100%; }
    .card-body__image-bg {
      -ms-flex-preferred-size: 82.81%;
          flex-basis: 82.81%;
      -ms-flex-negative: 1;
          flex-shrink: 1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      background-color: #f7f7f7; }
  .card-body__descr {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    color: #777777;
    font-family: 'Bitter', serif;
    font-size: 13px; }
  .card-footer__to-cart {
    background-color: #F4F6F8; }
  .card-footer__icon {
    cursor: pointer; }
    .card-footer__icon--transfer {
      height: 12px;
      width: 12px; }
    .card-footer__icon--heart {
      width: 12px;
      height: 12px; }
    .card-footer__icon--to-cart {
      width: 18px;
      height: 14px; }
  .card-footer__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 18.9%;
        flex-basis: 18.9%;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    border-right: 1px solid #e0e0e0; }
    .card-footer__item:last-child {
      border: none; }
  .card-footer__price {
    -ms-flex-preferred-size: 43.1%;
        flex-basis: 43.1%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 8px; }
  .card-footer-price-current {
    font-family: 'Bitter', serif;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 12px;
    color: #2e8f9a; }
  .card-footer-price-old {
    font-family: 'Segoe UI';
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 11px;
    color: #777777;
    text-decoration: line-through; }

.tape {
  position: absolute;
  transform: rotateZ(-45deg);
  top: 11px;
  left: -20px; }
  .tape__inner {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    font-family: 'Segoe UI Bold', sans-serif;
    color: #ffffff;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    background-color: #d35462;
    height: 14px;
    width: 76px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .tape__inner:after, .tape__inner:before {
      content: '';
      position: absolute;
      bottom: -2.8px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 3px 0 3px;
      border-color: #b52838 transparent transparent transparent; }
    .tape__inner:before {
      left: 0; }
    .tape__inner:after {
      right: 0; }

.info-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 72px; }
  .info-block-column {
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    background-color: #F4F6F8;
    padding: 15px 20px; }
    .info-block-column__icon {
      max-width: 100%;
      max-height: 100%; }
      .info-block-column__icon-wrapper {
        max-width: 41px;
        -ms-flex-preferred-size: 15.1%;
            flex-basis: 15.1%;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        margin-right: 5.5%; }
    .info-block-column__title {
      color: #444444;
      font-size: 18px;
      margin-bottom: 25px; }
    .info-block-column__line {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: center;
          align-items: center;
      margin-bottom: 25px; }
      .info-block-column__line--input {
        position: relative;
        max-width: 260px; }
        .info-block-column__line--input .input-field-confirm {
          position: absolute;
          top: 50%;
          right: 10px;
          width: 10px;
          height: 10px;
          transform: translateY(-50%) rotateZ(-135deg);
          border-color: transparent transparent #535353 #535353;
          border-width: 1px;
          border-style: solid;
          z-index: 1;
          cursor: pointer; }
        .info-block-column__line--input .input-field {
          position: relative;
          font-size: 16px;
          width: 100%;
          border: 1px solid #CBCBCB;
          padding: 7.5px 10px;
          color: #444444;
          border-radius: 2px;
          transition: all linear .1s; }
          .info-block-column__line--input .input-field:hover {
            box-shadow: 0 0 0 2px #2e8f9a;
            border-color: transparent; }
          .info-block-column__line--input .input-field:focus {
            box-shadow: 0 0 0 2px #2e8f9a;
            border-color: transparent; }
          .info-block-column__line--input .input-field::-webkit-input-placeholder {
            font-size: 12px;
            color: #777777;
            font-family: 'Segoe UI'; }
          .info-block-column__line--input .input-field:-moz-placeholder {
            font-size: 12px;
            color: #777777;
            font-family: 'Segoe UI'; }
          .info-block-column__line--input .input-field::-moz-placeholder {
            font-size: 12px;
            color: #777777;
            font-family: 'Segoe UI'; }
          .info-block-column__line--input .input-field:-ms-input-placeholder {
            font-size: 12px;
            color: #777777;
            font-family: 'Segoe UI'; }

.test-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.img {
  max-height: 100%;
  max-width: 100%; }
  .img__wrapp {
    width: 50px;
    height: 140px; }

.news__date {
  font-family: 'Segoe UI Italic';
  font-size: 11px;
  color: #777777; }

.news__item {
  margin-bottom: 22px; }
  .news__item:last-child {
    margin-bottom: 0; }

html {
  height: 100%;
  font-size: 16px;
  font-family: 'Bitter', serif;
  overflow-x: hidden; }

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: #444444; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

textarea {
  resize: none;
  outline: none; }

section {
  position: relative;
  padding: 40px 0; }

input, select, button {
  outline: none; }

*, *:before, *:after {
  box-sizing: border-box; }

/* =================MY CODE */
.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
  width: 100%; }
  @media screen and (max-width: 960px) {
    .container {
      padding: 0 20px; } }

.mobile-br {
  display: none; }

.text {
  font-size: 11px;
  color: #777777;
  font-family: 'Segoe UI';
  margin-bottom: 22px; }
  .text:last-child {
    margin-bottom: 0; }
  .text--blue {
    color: #2e8f9a; }

h1 {
  color: #000;
  font-family: 'Bitter'; }

h2 {
  font-family: 'Segoe UI'; }

h3 {
  font-family: 'Segoe UI Bold';
  font-weight: bold; }

@media screen and (max-width: 980px) {
  .product-line__body {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .product-line {
    margin-bottom: 35px; }
  .product-line__header {
    margin-bottom: 25px; } }

@media screen and (max-width: 860px) {
  .product-line {
    margin-bottom: 30px; }
  .logo__img {
    height: auto; }
  .slider__title {
    font-size: 28px;
    padding: 0 5px; }
  .slider__text {
    font-size: 14px;
    padding: 0 7px; }
  .greeting {
    margin-right: 50px; }
  .product-advantages__title {
    font-size: 22px; }
  .product-advantages__text {
    font-size: 18px; } }

@media screen and (max-width: 780px) {
  .search {
    min-width: 80px;
    margin-right: 20px;
    -ms-flex-negative: 2;
        flex-shrink: 2; }
  .logo {
    width: auto;
    margin-right: 20px;
    -ms-flex-negative: 0.5;
        flex-shrink: 0.5; }
    .logo__img {
      width: 100%; }
  .header-middle__inner {
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
    margin-top: 20px;
    -ms-flex-line-pack: start;
        align-content: flex-start; }
  .user-menu {
    margin-left: auto;
    margin: 30px 0; }
  .slider__descr {
    margin-top: 40px; }
  .slider__controls {
    width: 30px;
    height: 30px; }
  .slider__product {
    margin-left: 0; }
  .mobile-br {
    display: block; }
  .phone {
    padding-top: 4px; }
  .greeting {
    padding-top: 4px;
    font-size: 10px; }
  .product-advantages__title {
    font-size: 18px; }
  .product-advantages__text {
    font-size: 16px; }
  .info-block-column__title {
    margin-bottom: 20px; }
  .info-block__column {
    padding: 10px 15px; }
  .text {
    margin-bottom: 15px; }
  .news__item {
    margin-bottom: 15px; }
  .card {
    width: 234px !important;
    display: block !important;
    margin: 0 auto; }
  .info-block {
    margin-bottom: 50px; }
  .footer__body {
    padding: 35px 0; }
  .footer__footer-inner {
    height: 60px; }
  .footer-column__title {
    font-size: 16px;
    margin-bottom: 8px; } }

@media screen and (max-width: 640px) {
  .product-line__title {
    font-size: 20px; }
  .header-middle__inner {
    margin-top: 15px; }
  .user-menu {
    margin: 15px 0; }
  .main-menu__link {
    padding: 16px 18px;
    font-size: 12px; }
  .slider__product {
    width: 40%; }
  .slider__title {
    font-size: 22px;
    padding: 0 3px;
    margin-bottom: 9px; }
  .slider__text {
    font-size: 12px;
    padding: 0 4px; }
  .greeting {
    margin-right: 20px; }
  .user-settings > *:not(:last-child) {
    margin-right: 12px; }
  .currency {
    position: relative; }
    .currency__mobile {
      display: block;
      width: 30px; }
    .currency__list {
      position: absolute;
      top: 0;
      left: 50%;
      transform-origin: left center;
      transform: scale(0) translateX(-82%) translateY(200px);
      transition: all linear .2s;
      background-color: #FA8B8B;
      border-radius: 4px;
      padding: 3px; }
      .currency__list--active {
        transform: scale(1) translateX(-82%) translateY(0px); }
  .languages {
    position: relative; }
    .languages__mobile {
      display: block;
      width: 47px;
      text-align: center; }
    .languages__list {
      position: absolute;
      top: 0;
      left: 50%;
      transform-origin: center left;
      transform: scale(0) translateX(-50%) translateY(200px);
      transition: all linear .3s;
      background-color: #FA8B8B;
      border-radius: 4px;
      padding: 3px;
      z-index: 1; }
      .languages__list--active {
        transform: scale(1) translateX(-50%) translateY(0px); }
  .slider__dots ul {
    bottom: 10px;
    right: 10px; }
  .product-advantages__item {
    margin-right: 12px; }
  .product-advantages__title {
    font-size: 14px; }
  .product-advantages__text {
    font-size: 12px; }
  .info-block {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    .info-block > * {
      margin: 5px 0px; }
      .info-block > *:first-child {
        margin-top: 0; }
      .info-block > *:last-child {
        margin-bottom: 0; }
    .info-block-column__title {
      margin-bottom: 10px;
      font-size: 16px; }
    .info-block-column__line {
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .menu-selection__item:after {
    content: none; }
  .footer__body-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .footer-column {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-bottom: 25px; }
    .footer-column:nth-last-child(-n+2) {
      margin-bottom: 0; }
    .footer-column:last-child {
      margin-bottom: 0; }
    .footer-column__header {
      margin-bottom: 12px; }
    .footer-column__item {
      font-size: 11px; } }

@media screen and (max-width: 540px) {
  .main-menu__link {
    padding: 14px 12px;
    font-size: 10px; }
  .logo__text {
    margin-top: -5px;
    padding-left: 14px; }
  .slider__descr {
    margin-left: -10px; }
  .slider__controls {
    width: 16px;
    height: 16px; }
  .slider__title {
    font-size: 18px;
    padding: 0 3px; }
  .slider__text {
    font-size: 10px;
    padding: 0 4px; }
  .greeting {
    display: none; }
  .product-advantages__item {
    margin-right: 8px; }
  .product-advantages__title {
    font-size: 12px; }
  .product-advantages__text {
    font-size: 8px; }
  .form {
    display: none;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%); }
  .product-line {
    margin-bottom: 25px; }
    .product-line__header {
      margin-bottom: 10px; }
    .product-line__control {
      height: 35px;
      width: 35px; }
  .text {
    margin-bottom: 10px;
    font-size: 10px; }
  .footer__footer-inner {
    height: 50px; }
  .footer-column__title {
    font-size: 14px; } }

@media screen and (max-width: 420px) {
  .container {
    padding: 0 10px; }
  .user-menu__item {
    padding: 0 10px; }
  .main-menu__link {
    padding: 14px 6px;
    font-size: 8.5px; }
  .cart {
    padding: 10px 5px; }
    .cart__img {
      margin-right: 6px; }
  .logo {
    margin-right: 10px; }
  .search {
    margin-right: 10px; }
  .slider__dot {
    width: 15px;
    height: 15px;
    border-width: 3px; }
  .slider__title {
    font-size: 16px;
    padding: 0 3px; }
  .slider__text {
    font-size: 8px;
    padding: 0 4px; }
  .slick-active a {
    border-width: 3px; }
  .product-advantages__item {
    margin-right: 6px; }
  .product-advantages__title {
    font-size: 8px; }
  .product-advantages__text {
    font-size: 6px; } }
