.product-advantages{
	margin-top: 24px;
	display: flex;
	margin-bottom: 40px;
	&__content{
		flex-basis: 65.2%;
	}
	&__item{
		width: 100%;
		display: flex;
		align-items: center;
		border: 1px solid $alto-lighter;
		margin-right: 24px;
		border-radius: 2px;
		overflow: hidden;
		&:last-child{
			margin-right: 0;
		}
	}	
	&__img{
		width: 70.3%;
		&-wrapper{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-basis: 34.7%;
		}
	}
	&__title{
		font-size: 24px;
		color: $tundora;
	}
	&__text{
		font-family: 'Segoe UI Light', sans-serif;
		font-size: 20px;
		color: $boulder;
	}
}