$black: #000000;
$white: #ffffff;
$mine-shaft: #222222;
$tundora: #444444;
$boulder: #777777;
$athens-gray: #F4F6F8;
$silver-chalice: #aaaaaa;
$athens-grayer: #E5E8EC;
$athens-grayer-lighter: #F1F3F5;
$alto: #DFDFDF;
$alto-lighter: #e0e0e0;
$fountain-blue: #59b7c2;
$half-baked: #78c4cd;
$geraldine: #FA8B8B;
$white: #ffffff;
$silver: #CBCBCB;
$black-squeeze: #e7f5f7;

$tablet-size: 960px;
$mobile-size: 420px;