.card
	.card__body
		.card-body__image-bg
			img(src="static/img/product-1.png").card-body__image
		.card-body__descr Febreze Air Effects New Zealand Springs			
		.tape
			.tape__inner sale
	.card__footer
		.card-footer__item.card-footer__price
			.card-footer-price-current
				span.page-currency $
				span.card-footer-price-current__amount  550.00
			.card-footer-price-old
				span.page-currency $
				span.card-footer-price-old__amount  725.00
		.card-footer__item.card-footer__transfer
			img(src="static/img/transfer.png").card-footer__icon.card-footer__icon--transfer
		.card-footer__item.card-footer__heart
			img(src="static/img/heart.png").card-footer__icon.card-footer__icon--heart
		.card-footer__item.card-footer__to-cart
			img(src="static/img/to-cart.png").card-footer__icon.card-footer__icon--to-cart